.blog-page {
  padding: 20px;
  background-color: blanchedalmond;
  height: 100vh;
}
.blog-page-content {
  margin-left: 150px;
  margin-right: 150px;
}
.blog-post-page {
  padding: 20px;
  background-color: blanchedalmond;
}

.blog-post-page-content {
  margin-left: 250px;
  margin-right: 250px;
}
.blog-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog-entry p {
  font-size: 15px;
  font-weight: 250;
}
.title {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}
.blog-page h1 {
  padding-top: 150px;
}
.blog-post-page-content h1 {
  font-size: 40px;
  margin-top: 100px;
  font-weight: bold;
  margin-bottom: 20px;
}

.blog-page ul {
  list-style: none;
  padding: 0;
}

.blog-page li {
  margin: 10px 0;
}

.blog-post-page {
  padding: 20px;
}

.post-details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.blog-image,
.blog-article-image {
  max-width: 700px;
  height: auto;
  padding: 50px;
  margin: 20px 50px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .blog-page {
    padding: 10px;
    height: auto;
    min-height: 100vh;
    background-color: blanchedalmond;
  }

  .blog-page-content {
    margin-left: 20px;
    margin-right: 20px;
  }

  .blog-post-page {
    padding: 10px;
  }

  .blog-post-page-content {
    margin-left: 20px;
    margin-right: 20px;
  }

  .title {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .blog-page h1 {
    padding-top: 50px;
    font-size: 30px;
  }

  .blog-post-page-content h1 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .blog-entry {
    flex-direction: column;
  }

  .blog-entry p {
    font-size: 14px;
  }

  .blog-image,
  .blog-article-image {
    max-width: 100%;
    padding: 0px;
    margin: 20px 0px;
    margin-right: 0;
  }
}
